@model Wedding.ViewModels.Gallery.GalleryViewModel

@{
    ViewBag.Title = "Home Page";
}

<div>
    @using (Html.BeginForm ("Upload",  
        "Home",  
        FormMethod.Post,  
        new { enctype = "multipart/form-data" }))  
    {                    
        <label for="file">Upload Image:</label>  
        <input type="file" name="file" id="file"/><br><br>  
        <input type="submit" value="Upload Image"/>  
        <br><br>  
        @ViewBag.Message  
    }
    
    <div class="col-xs-12 col-sm-12 cols-lg-12">
        @*@foreach (var image in Model.AzureGalleryImages)
        {
            <div class="gallery-image col-xs-3 col-sm-3 col-lg-3">
                <img src='@image.ImageBase64String' />
            </div>
        }*@

        @foreach (var image in Model.BingGalleryImages)
        {
            <div class="gallery-image col-xs-3 col-sm-3 col-lg-3">
                <img src='@image.Url' />
            </div>
        }
    </div>

</div>